@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}


.container {
    margin: 0; 
    padding: 0;
    max-width: 1500px;
}
